.grid {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 70px 1fr;
  .header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    max-width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
    margin-left: 2px;
  }
  .side {
    position: sticky;
    top: 0px;
  }
  .mainTeams {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .mainItemList {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 10px;
  }
}
