.books-img {
  width: 100%;
}

.library-title {
  position: relative;
}

.library-title-text {
  position: absolute;
  color: #000;
  top: 450px;
  right: 70px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px;
}

.library-title-text-wide {
  position: absolute;
  color: #000;
  top: 520px;
  right: 70px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px;
}
