.side-menu {
  padding: 18px;
  color: rgb(25, 80, 117);
  border-bottom: solid 1px #ddd;
}
.side-menu:hover {
  background-color: #eee;
}
.side-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.order-1 {
  order: -1;
  flex-basis: 220px;
  width: 220px;
  border-right: 2px solid rgb(20, 163, 96);
  border-image: linear-gradient(
    to bottom,
    rgb(20, 163, 96) 0%,
    rgb(4, 154, 255) 100%
  );
  border-image-slice: 1;
  min-height: 100vh;
  /* position: fixed; */
}
.link-bar-none {
  text-decoration: none;
}
.img-logo {
  width: 200px;
  padding: 10px 10px;
}

nav {
  position: sticky;
  top: 0px;
}
