.side-menu {
  padding: 18px;
  color: rgb(25, 80, 117);
  border-bottom: solid 1px #ddd;
}
.side-menu:hover {
  background-color: #eee;
}
.side-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.order-1 {
  order: -1;
  position: fixed;
}
.link-bar-none {
  text-decoration: none;
}
.img-logo {
  width: 200px;
  padding: 10px 10px;
}
/* .select-color {
  background-color: blueviolet;
} */
